In [377]:
import random
import pandas as pd
import numpy as np

pd.options.display.max_columns = 99

# Exploring TOTO dataset
https://en.lottolyzer.com/history/singapore/toto/page/1/per-page/50/summary-view

In [378]:
dat = pd.read_csv("toto_data.csv")
dat.head()

,Draw,Date,Winning Number 1,2,3,4,5,6,Additional Number,From Last,Same As Day,Odd,Even,1-10,11-20,21-30,31-40,41-50,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
0,3905,2023-09-18,4,7,27,32,37,49,44,37,NaN,4,2,2,0,1,2,1,4,3244955,9,173815,647,1663,1441,408,34069,50,43569,25,603512,10
1,3904,2023-09-14,14,18,24,26,37,45,28,NaN,14,2,4,0,2,2,1,1,0,0,4,231326,222,1781,544,397,10664,50,16775,25,202156,10
2,3903,2023-09-11,1,20,21,27,38,48,17,NaN,NaN,3,3,1,1,2,1,1,0,0,0,0,101,2385,340,387,6206,50,9714,25,126062,10
3,3902,2023-09-07,17,19,24,26,31,46,37,NaN,NaN,3,3,0,2,2,1,1,0,0,1,242958,87,1920,178,512,4659,50,5645,25,85861,10
4,3901,2023-09-04,1,4,12,33,45,48,35,48,4,3,3,2,1,0,1,2,1,2836385,3,117883,145,1677,292,455,6900,50,8561,25,138468,10

In [379]:
dat.loc[dat['Division 7 Winners'].isna()].head()
# First draw with all 7 divisions is 2995.

,Draw,Date,Winning Number 1,2,3,4,5,6,Additional Number,From Last,Same As Day,Odd,Even,1-10,11-20,21-30,31-40,41-50,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
911,2994,2014-10-06,5,12,13,25,33,34,45,NaN,NaN,4,2,1,2,1,2,0,0,0,6,49540,214,1389,466,638,11441,30,12899,20,NaN,NaN
912,2993,2014-10-02,1,6,26,40,41,45,10,NaN,NaN,3,3,2,0,1,1,2,1,3023700,12,47106,393,1439,1412,401,20267,30,34518,20,NaN,NaN
913,2992,2014-09-29,8,13,21,22,28,37,12,21,NaN,3,3,1,1,3,1,0,0,0,11,34364,339,1116,898,421,15289,30,23420,20,NaN,NaN
914,2991,2014-09-25,12,15,21,26,29,36,7,"29,36",NaN,3,3,0,2,3,1,0,0,0,9,27544,187,1326,618,402,8832,30,14906,20,NaN,NaN
915,2990,2014-09-22,9,17,18,27,29,36,31,NaN,NaN,4,2,1,2,2,1,0,2,327955,11,23490,402,643,583,444,13487,30,13876,20,NaN,NaN

In [380]:
dat.columns

Index(['Draw', 'Date', 'Winning Number 1', '2', '3', '4', '5', '6',
       'Additional Number ', 'From Last', 'Same As Day', 'Odd', 'Even',
       ' 1-10', ' 11-20', ' 21-30', ' 31-40', ' 41-50', 'Division 1 Winners',
       'Division 1 Prize', 'Division 2 Winners', 'Division 2 Prize',
       'Division 3 Winners', 'Division 3 Prize', 'Division 4 Winners',
       'Division 4 Prize', 'Division 5 Winners', 'Division 5 Prize',
       'Division 6 Winners', 'Division 6 Prize', 'Division 7 Winners',
       'Division 7 Prize'],
      dtype='object')

In [381]:
dat = dat.loc[dat['Draw'] >= 2995]
dat = dat.loc[:,['Draw','Winning Number 1','2','3','4','5','6','Additional Number ',
               'Division 1 Winners','Division 1 Prize', 'Division 2 Winners', 'Division 2 Prize',
               'Division 3 Winners', 'Division 3 Prize', 'Division 4 Winners','Division 4 Prize', 
               'Division 5 Winners', 'Division 5 Prize','Division 6 Winners', 'Division 6 Prize', 
               'Division 7 Winners','Division 7 Prize']]
dat = dat.rename(columns={'Additional Number ': 'Additional Number'})

In [382]:
dat

,Draw,Winning Number 1,2,3,4,5,6,Additional Number,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize
0,3905,4,7,27,32,37,49,44,4,3244955,9,173815,647,1663,1441,408,34069,50,43569,25,603512,10
1,3904,14,18,24,26,37,45,28,0,0,4,231326,222,1781,544,397,10664,50,16775,25,202156,10
2,3903,1,20,21,27,38,48,17,0,0,0,0,101,2385,340,387,6206,50,9714,25,126062,10
3,3902,17,19,24,26,31,46,37,0,0,1,242958,87,1920,178,512,4659,50,5645,25,85861,10
4,3901,1,4,12,33,45,48,35,1,2836385,3,117883,145,1677,292,455,6900,50,8561,25,138468,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2999,5,22,25,28,33,34,32,0,0,0,0,64,2162,178,424,4705,50,5774,25,81579,10
907,2998,8,11,17,21,41,49,35,1,3803159,3,115464,166,1435,350,372,8404,50,9021,25,148908,10
908,2997,4,9,31,34,40,44,35,0,0,2,119110,83,1974,216,414,5635,50,5731,25,90370,10
909,2996,19,28,31,43,45,48,41,0,0,1,216057,61,2436,108,751,3414,50,4846,25,69704,10
910,2995,11,12,25,28,34,47,15,1,2085106,1,280122,95,2028,239,440,5400,50,7553,25,102478,10

In [383]:
test = dat == 0
test.sum()
# Div 3 and 4 always have winners. Use them to determine prize pool.

Draw                    0
Winning Number 1        0
2                       0
3                       0
4                       0
5                       0
6                       0
Additional Number       0
Division 1 Winners    527
Division 1 Prize      527
Division 2 Winners     77
Division 2 Prize       77
Division 3 Winners      0
Division 3 Prize        0
Division 4 Winners      0
Division 4 Prize        0
Division 5 Winners      0
Division 5 Prize        0
Division 6 Winners      0
Division 6 Prize        0
Division 7 Winners      0
Division 7 Prize        0
dtype: int64

In [384]:
dat['Prize Pool_div3'] = dat['Division 3 Winners'] * dat['Division 3 Prize'] / 0.055
dat['Prize Pool_div4'] = dat['Division 4 Winners'] * dat['Division 4 Prize'] / 0.03

In [385]:
dat

,Draw,Winning Number 1,2,3,4,5,6,Additional Number,Division 1 Winners,Division 1 Prize,Division 2 Winners,Division 2 Prize,Division 3 Winners,Division 3 Prize,Division 4 Winners,Division 4 Prize,Division 5 Winners,Division 5 Prize,Division 6 Winners,Division 6 Prize,Division 7 Winners,Division 7 Prize,Prize Pool_div3,Prize Pool_div4
0,3905,4,7,27,32,37,49,44,4,3244955,9,173815,647,1663,1441,408,34069,50,43569,25,603512,10,19562927,19597600
1,3904,14,18,24,26,37,45,28,0,0,4,231326,222,1781,544,397,10664,50,16775,25,202156,10,7188764,7198933
2,3903,1,20,21,27,38,48,17,0,0,0,0,101,2385,340,387,6206,50,9714,25,126062,10,4379727,4386000
3,3902,17,19,24,26,31,46,37,0,0,1,242958,87,1920,178,512,4659,50,5645,25,85861,10,3037091,3037867
4,3901,1,4,12,33,45,48,35,1,2836385,3,117883,145,1677,292,455,6900,50,8561,25,138468,10,4421182,4428667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
906,2999,5,22,25,28,33,34,32,0,0,0,0,64,2162,178,424,4705,50,5774,25,81579,10,2515782,2515733
907,2998,8,11,17,21,41,49,35,1,3803159,3,115464,166,1435,350,372,8404,50,9021,25,148908,10,4331091,4340000
908,2997,4,9,31,34,40,44,35,0,0,2,119110,83,1974,216,414,5635,50,5731,25,90370,10,2978945,2980800
909,2996,19,28,31,43,45,48,41,0,0,1,216057,61,2436,108,751,3414,50,4846,25,69704,10,2701745,2703600
910,2995,11,12,25,28,34,47,15,1,2085106,1,280122,95,2028,239,440,5400,50,7553,25,102478,10,3502909,3505333

In [386]:
dat['Prize Pool_div3'].describe()

count        911
mean     4831830
std      3654311
min      2206418
25%      3029473
50%      3680127
75%      5088118
max     40512909
Name: Prize Pool_div3, dtype: float64

# Monte Carlo Simulation

In [387]:
'''
Types:
6. Ordinary
7. System 7
8. System 8
9. System 9
10. System 10
11. System 11
12. System 12
13. iTOTO
'''

def generate_combi(type):
    '''
    Generates a set of numbers according to bet type.
    Generating winning numbers = type 7 for 6 numbers + 1 additional number
    '''
    if type == 13: type = 12 # iTOTO is System 12 as far as this function is concerned

    tmp = random.randint(1,49)
    combi = [tmp]
    for i in range(type-1): 
        while tmp in combi:
            tmp = random.randint(1,49)
        combi.append(tmp)
    return combi

def check_results(bet, winning_no):
    # Split winning numbers to main and additonal numbers (taken as the last number in the 7 generated)
    main = winning_no[0:6]
    additional = winning_no[6]

    # check matches for main numbers
    matches = [0 for i in bet]
    for i, b in enumerate(bet):
        for m in main:
            if b == m:
                matches[i] = 1
                break

    # check match for additional number
    add_match = 0
    for i, b in enumerate(bet):
        if b == additional:
            matches.append(1)
            add_match = 1
            break

    if add_match != 1: 
        matches.append(0)
    
    # Logic for determining prize group
    if sum(matches[0:6]) == 3 and matches[-1] == 0:
        return 7 # Group 7
    elif sum(matches[0:6]) == 3 and matches[-1] == 1:
        return 6 # Group 6
    elif sum(matches[0:6]) == 4 and matches[-1] == 0:
        return 5 # Group 5
    elif sum(matches[0:6]) == 4 and matches[-1] == 1:
        return 4 # Group 4
    elif sum(matches[0:6]) == 5 and matches[-1] == 0:
        return 3 # Group 3
    elif sum(matches[0:6]) == 5 and matches[-1] == 1:
        return 2 # Group 2
    elif sum(matches[0:6]) == 6 and matches[-1] == 0:
        return 1 # Jackpot, Group 1 
    
    return -1 # no win


def simulate_bet(type, prize_pool):
    bet = generate_combi(type)
    winning_no = generate_combi(7)
    prize_group = check_results(bet, winning_no)

    # From -1 to 4, they are multipliers to be applied to total prize pool
    # From 5 to 7, fixed prize amount
    winning_multiplier = {
        -1: 0,
        1: 0.38,
        2: 0.08,
        3: 0.055,
        4: 0.03,
        5: 50,
        6: 25,
        7: 10
    }

    # Bet amounts for the different types of bets, 13 is iTOTO
    bet_amt = {
        6: 1,
        7: 7,
        8: 28,
        9: 84,
        10: 210,
        11: 462,
        12: 924,
        13: 33
    }

    # iTOTO prize modifier
    if type == 13:
        modifier = 1/28
    else:
        modifier = 1

    if prize_group <= 4:
        net_winnings = prize_pool * winning_multiplier[prize_group] * modifier - bet_amt[type]
    elif prize_group >= 5:
        net_winnings = winning_multiplier[prize_group] * modifier - bet_amt[type]

    return prize_group, net_winnings

def run_simulation(times, games_each_time, type, prize_pool):
    '''
    times: number of times to run the simulation
    games_each_time: how many games per simulation
    type: bet type
    prize_pool: suggest to use $3.7M as that is the median prize pool of TOTO
    '''

    results_list =  []
    for i in range(times*games_each_time):
        a = simulate_bet(type, prize_pool)
        results_list.append(list(a))

    result_df = pd.DataFrame(results_list)
    
    # Get net dollar amount at the end of each run of games.
    outcome = []
    for i in range(times):
        # As an example, for 1040 games per simulation, the index goes from [0,1039] then [1040, 2079] etc.
        outcome.append(result_df[games_each_time*i : games_each_time*i + (games_each_time - 1)][1].sum())

    print(f'Mean: $ {np.mean(outcome):.2f}')
    print(f'Min: $ {np.min(outcome):.2f}')
    print(f'10th Percentile: $ {np.percentile(outcome, 0.1):.2f}')
    print(f'25th Percentile: $ {np.percentile(outcome, 0.25):.2f}')
    print(f'Median: $ {np.median(outcome):.2f}')
    print(f'75th Percentile: $ {np.percentile(outcome, 0.75):.2f}')
    print(f'90th Percentile: $ {np.percentile(outcome, 0.90):.2f}')
    print(f'Max: $ {np.max(outcome):.2f}')

    return result_df, outcome

In [388]:
result_df6, outcome6 = run_simulation(1000, 1040, 6, 3700000)

Mean: $ 9624.94
Min: $ -949.00
10th Percentile: $ -949.00
25th Percentile: $ -949.00
Median: $ -789.00
75th Percentile: $ -929.00
90th Percentile: $ -929.00
Max: $ 295206.00

In [389]:
result_df7, outcome7 = run_simulation(1000, 1040, 7, 3700000)

Mean: $ 2043.81
Min: $ -7213.00
10th Percentile: $ -7173.04
25th Percentile: $ -7163.00
Median: $ -7023.00
75th Percentile: $ -7153.00
90th Percentile: $ -7153.00
Max: $ 288962.00

In [390]:
result_df8 , outcome8 = run_simulation(1000, 1040, 8, 3700000)

Mean: $ -14085.87
Min: $ -29022.00
10th Percentile: $ -29017.01
25th Percentile: $ -29014.51
Median: $ -28822.00
75th Percentile: $ -28984.54
90th Percentile: $ -28982.00
Max: $ 285703.00

In [391]:
result_df9 , outcome9 = run_simulation(1000, 1040, 9, 3700000)

Mean: $ -69660.52
Min: $ -87191.00
10th Percentile: $ -87181.01
25th Percentile: $ -87171.00
Median: $ -87006.00
75th Percentile: $ -87156.00
90th Percentile: $ -87156.00
Max: $ 227424.00

In [392]:
result_df10 , outcome10 = run_simulation(1000, 1040, 10, 3700000)

Mean: $ -197607.94
Min: $ -218095.00
10th Percentile: $ -218090.01
25th Percentile: $ -218077.51
Median: $ -217907.50
75th Percentile: $ -218060.00
90th Percentile: $ -218055.05
Max: $ 96720.00

In [393]:
result_df11 , outcome11 = run_simulation(1000, 1040, 11, 3700000)

Mean: $ -456897.96
Min: $ -479968.00
10th Percentile: $ -479953.02
25th Percentile: $ -479935.51
Median: $ -479733.00
75th Percentile: $ -479898.00
90th Percentile: $ -479893.04
Max: $ -146673.00

In [394]:
result_df12 , outcome12 = run_simulation(1000, 1040, 12, 3700000)

Mean: $ -934414.47
Min: $ -959931.00
10th Percentile: $ -959926.01
25th Percentile: $ -959926.00
Median: $ -959741.00
75th Percentile: $ -959916.00
90th Percentile: $ -959916.00
Max: $ -552791.00

In [395]:
result_df13 , outcome13 = run_simulation(1000, 1040, 13, 3700000)

Mean: $ -33421.49
Min: $ -34283.79
10th Percentile: $ -34283.43
25th Percentile: $ -34283.07
Median: $ -34276.46
75th Percentile: $ -34282.71
90th Percentile: $ -34282.54
Max: $ -23041.64

In [448]:
for i in range(1040):
    bet = generate_combi(6)
    # print(bet)
    winning_no = generate_combi(7)
    # print(winning_no)
    chk = check_results(bet, winning_no)
    if chk > 0: print(chk)

7
6
7
7
7
7
7
7
7
7
7
7
7
5
7
7
7
7
7
7